<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
    <Head>
        <title>
            domain.Addon: ${name}
        </title>
    </Head>
    <body BGCOLOR="#ffffff">

        <h1>${name}</h1>

        <p>
            ${description}
        </p>

    </body>
</html>