<zapaddon>

    <name>${name}</name>
    <version>1</version>
    <status>alpha</status>
    <description>${description}</description>
    <author>${author}</author>
    <url>${url}</url>
    <changes/>

    <extensions>
        <extension>org.zaproxy.zap.extension.${pack}.${class}</extension>
    </extensions>

    <ascanrules/>
    <pscanrules/>
    <filters/>
    <files/>

    <not-before-version>${nbversion}</not-before-version>
    <not-from-version>${nfversion}</not-from-version>
</zapaddon>